/* Remove any default margin or padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Prevent scrolling on the page */
html, body {
    height: 100%;
    overflow: hidden;
}

/* Text Styles !!*/
.headings1 {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
}

.subtitles1 {
    margin: 0;
    color: #666;
    font-size: 0.9rem;
}